@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    font-family: 'Bebas Neue', cursive;
    background: rgb(21, 5, 36)
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 430px;
    margin-bottom: 40px;
    border-radius: 16px;
    
}

.card img {
    transition: 0.5s;
    pointer-events: none;
    border-radius: 16px;
    
}

.atas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nama1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 60px;
    color: lime;
    background: #250464;
    border-radius: 10px;
    height: 50px;
    width: 1825px;
    padding: 50px;
}

.col:hover .card img {
    opacity: 0.5;
    transition: 0.5s ease-in-out;
    filter: blur(3px);
}

.col .card {
    background-color: #300286;
}

.col:hover .card {
    opacity: 1 !important;
}

.col:hover h5 {
    transition: 0.5s ease-in-out;
    opacity: 1 !important;
    font-size: 40px;
    color: lime;
}

.bawah {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lime;
    background: #250464;
    font-size: 25px;
    border-radius: 8px;
    width: 450px;
    height: 60px;
}

.c a {
    color: lime;
    text-decoration: none;
    transition: 0.5s;
}

.c a:hover {
    color: #fff;
    transition: 0.5s;
}

::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progressbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

.scrollTop {
    position: fixed;
    bottom: 800px;
    right: 30px;
    width: 60px;
    height: 60px;
    background: lime url(https://cdn.jsdelivr.net/gh/azis13/file-css@main/up.png);
    border-radius: 50%;
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scrollTop.active {
    bottom: 30px;
    visibility: visible;
    opacity: 1;
}

@media (max-width:1600px) {
    .card {
        width: 360px;
    }
}

@media (max-width:1366px) {
    .card {
        width: 410px;
    }
}

@media (max-width:1280px) {
    .card {
        width: 380px;
    }
}

@media (max-width:800px) {
    .card {
        width: 345px;
    }
}

@media (max-width:720px) {
    .card {
        width: 700px;
    }
}