@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #030313;
  font-family: "Lexend Deca", sans-serif;
}

.container {
  display: block;
}

.tengah {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
  margin-top: 30px;
}

.box::before {
  content: "";
  position: absolute;
  inset: -10px 100px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.box:hover::before {
  inset: -20px 0px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: #060620;
  border-radius: 50%;
  z-index: 1;
}

.content {
  position: absolute;
  inset: 30px;
  border: 6px solid #03040c;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

.content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  background-image: url(https://cdn.jsdelivr.net/gh/azis13/file-css@main/image1.png);
  background-size: 100%;
}

.content:hover img {
  background-image: url(https://cdn.jsdelivr.net/gh/azis13/file-css@main/image2.png);
}

.nama {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  margin-top: 30px;
}

.tombol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tombol a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #d400d4;
  margin: 40px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  transition: 0.5s;
  transition-delay: 0s;
}

.tombol a:hover {
  transition-delay: 0.5s;
  color: #030313;
  box-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 40px #00ccff, 0 0 80px #00ccff, 0 0 160px #00ccff;
}

.tombol a span {
  position: relative;
  z-index: 100;
}

.tombol a::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #00ccff;
  box-shadow: 5px -8px 0 #00ccff, 5px 8px 0 #00ccff;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 0.5s, 0.5s, 0s, 0s;
}

.tombol a:hover::before {
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow: 5px 0 0 #00ccff, 5px 0 0 #00ccff;
  transition-delay: 0s, 0s, 0.5s, 0.5s;
}

.tombol a::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #00ccff;
  box-shadow: -5px -8px 0 #00ccff, -5px 8px 0 #00ccff;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 0.5s, 0.5s, 0s, 0s;
}

.tombol a:hover::after {
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow: -5px 0 0 #00ccff, -5px 0 0 #00ccff;
  transition-delay: 0s, 0s, 0.5s, 0.5s;
}

.bawah {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 17px;
  color: #fff;
  background: #d400d4;
  border-radius: 10px;
  height: 20px;
  width: 400px;
  padding: 20px;
  transition: 0.5s ease-in-out;
}

.c:hover {
  transition: 0.5s ease-in-out;
  background: #00ccff;
}

.c a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.c a:hover {
  color: #030313;
  transition: 0.5s ease-in-out;
}

@media (max-width: 1366px) {
  .box {
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 500px) {
  .box {
    width: 280px;
    height: 280px;
  }
  .c {
    width: 370px;
    height: 20px;
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .box {
    width: 260px;
    height: 260px;
  }
  .c {
    width: 370px;
    height: 20px;
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .box {
    width: 250px;
    height: 250px;
  }
  .c {
    width: 330px;
    height: 20px;
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .box {
    width: 250px;
    height: 250px;
  }
  .c {
    width: 290px;
    height: 20px;
    font-size: 12px;
  }
}
